VUECUTTER_FRONTEND_PORT=3000
VUECUTTER_BACKEND_PORT=5200
VUECUTTER_REDIS_PORT=6379

REDIS_PASSWORD=change-me

NUXT_PUBLIC_API_BASE=http://localhost:5200

HOST_MEDIA_PATH=/srv/media
HOST_CONFIG_PATH=./VueCutter/config.toml

VUECUTTER_MEDIA_ROOT=/media
VUECUTTER_MEDIA_KEEP_SHARE=true

VUECUTTER_FILESERVER=192.168.15.10
VUECUTTER_FILESERVER_MAC=10:bf:48:8d:5c:34
VUECUTTER_PLEX_URL=http://192.168.15.10:32400
VUECUTTER_PLEX_TOKEN=replace-me
VUECUTTER_WOL_URL=http://192.168.15.65:5550/wolserver
