VUECUTTER_FRONTEND_PORT=8200
VUECUTTER_BACKEND_PORT=5200
VUECUTTER_REDIS_PORT=6379

REDIS_PASSWORD=change-me

NUXT_PUBLIC_API_BASE=

HOST_CONFIG_PATH=./VueCutter/config.toml
HOST_SERVERS_PATH=./VueCutter/servers.json

VUECUTTER_MEDIA_KEEP_SHARE=true
